{% extends 'base.html'%}
{% load static %}

{%block content%}
<center>
    <br><br>
<h4> This web app helps to</h4>
    <li>. Kepp details of your friends</li>
    <li>. Choose your favourite pet(Cat) and its image</li>
    <li>. Calculate sum of arbitrary numbers</li><br>
    {% if not user.is_authenticated %}
    <li><a class="btn btn-primary" href="/login">Login</a> <a class="btn btn-success" href="/register">Register</a></li><br>
    <h5 style="color: crimson;">You can do many operations here after clicking on top right corner lines but the lines will show after login so please login first Thank you...</h5>
    {% else %}
    <h4 style="color: brown;">Welcome {{request.user.name}} what's up ?</h4>
    {% endif %}
</center>

{%endblock%}